body{
    background: url(../img/биоопасность.jpg) repeat-y 100%;
}
.blue{
    color: blue;
}
.sea{
    color: aquamarine;
    text-decoration: overline orange;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.big{
    font-size: 2rem;
}
.small{
    font-size: 0.9rem;
}
table{
    border-top: darkcyan 10px inset;
    border-left: yellow 5px inset;
    border-right: red 8px dashed;
    border-bottom: green 5px dotted;
}
ol{
    list-style-type: lower-greek;
}
ul{
    list-style-type: square;
}